.loading {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2000;

  &.loaded {
    z-index: -1;
  }
}

//
// Header
//
.navbar {
  @include media-breakpoint-up(lg) {
    &::after {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      height: 1px;
      content: "";
      background-color: rgba($color: $white, $alpha: .1);
    }
  }
}

.site-header {
  .navbar-brand {
    min-width: 164px;
    height: 40px;
    text-indent: -999rem;
    background-image: url("../images/logo.fw.png");
    background-repeat: no-repeat;
    background-position: left center;
  }
}
