@mixin height($value) {
  @include rfs($value, height);
}
@mixin heading-mb{
  h1,
  .h1{
    margin-bottom: .67em;
  }
  h2,
  .h2{
    margin-bottom: .83em;
  }
  h3,
  .h3{
    margin-bottom: 1em;
  }
  h4,
  .h4{
    margin-bottom: 1.33em;
  }
  h5,
  .h5{
    margin-bottom: 1.67em;
  }
  h6,
  .h6{
    margin-bottom: 2.33em;
  }
}
